.ad{
    margin:20px;
}

.dress{
    width:100%;
    margin-right:10px;
}

.fa{
    display: inline !important;
    margin-right:5px;
}

.price{
    margin-left:20px;
}

.details{
    margin-left:-20px;
}
.options{
    background-color: lightgray;
    padding:10px;
}
.options small{
    color:gray;
}
.options .buy{
    width:100%;
    background-color: rgb(41, 172, 159);
    color:white;
    margin-top:10px;
}

.options .buy:hover{
    background-color: rgb(41, 172, 159);
    color:white;
}
.change{
    font-size:8px !important;
    position: relative !important;
    left:40%;
}
.field{
    width:300px;
    background-color: transparent;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid darkgray 1px;
    padding: 3px 10px;
}
.fa-shopping-cart{
    float: right;
    padding-top:3px;
    padding-right:5px;
    margin-left:-15px;
}

.fa-map-marker{
    position: relative;
    top:-30px;
}

.modal-content{
    padding:20px;
}
#email,#pwrd{
    margin-bottom:30px !important;
}

.buylogin{
    width:100%;
    background-color: #3b5998 !important;
    color:white !important;
}
.modal-content p{
    text-align: center;
}
.modal-content a{
    color: #3b5998;
}